*{margin:0;
padding:0;
}

body{
    margin:0;
    padding:0;
    background-color: rgb(204, 42, 69);
}

.main{
    border:5px solid black;
    height:80vh;
    margin-top:5%;
    width:23%;
    margin-left:550px;
    border-radius: 15px 15px 40px 15px;
    box-shadow : 25px 25px  rgb(136, 71, 82);
    position: relative;
    background-color: rgb(255, 171, 15);
    
}
.headh{
    /* border:2px solid red; */
    position:absolute;
}
.v1{
     border:2px solid black;
    width:.1vw;
    height:3vh;
    margin-left:35px;
    margin-top:0%;
    background-color: black;
    position: absolute;
}

.v2{
    border:2px solid black;
   width:.1vw;
   height:3vh;
   position:fixed;
   margin-left:310px;
   margin-top:0%;
   background-color: black;
   
}

.h1{
    border:2.5px solid black;
    margin-top:25px;
    width:22.9vw;
    background-color: black;
}



.box1{
    border:4px solid black;
    margin: 40px;
    height:25vh;
    border-radius: 0px 0px 15px 0px;
    background-color: rgb(126, 110, 110);
    
}
.boxh{
    
    width:17vw;
    height:3vh;
    display: flex;
}

.boxh1{
    border:2px solid black;
    margin: 10px;
    width:18vw;
    height:0vh;
    margin-top: 20px;
    margin-left: 20px;
    background-color: black;
    border-radius: 3px;
    
}

.boxh2{
    border:2px solid black;
    margin: 10px;
    width:7vw;
    height:0vh;
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 20px;
    background-color: black;
    border-radius: 3px;

}


.innerbox1{
    border:4px solid black;
    margin:15px 40px 10px 48px;
    height:16vh;
    width:10vw;
    background-color: violet;
}

.boxout{
    margin:-18px 40px 0px 42px;
    height:3vh;
    display:flex;
}

.boxouth1{
    border:2px solid black;
    margin: 10px;
    width:15vw;
    height:0vh;
    margin-top: 10px;
    margin-left: 0px;
    background-color: black;
    border-radius: 3px;
}

.boxouth2{
    border:2px solid black;
    margin: 10px;
    width:15vw;
    height:0vh;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 0px;
    background-color: black;
    border-radius: 3px;

}
.boxoutv{
    width:3.5vw;
    margin: 0px 0px 0px 105px;
    position: fixed;
    height:3vh;
    display: flex;
}
.boxoutv1{
     border: 2px solid black;
     background-color: black;
     margin-left: 6px;
     border-radius: 3px;
}

.boxoutv2,.boxoutv3,.boxoutv4{
    border: 2px solid black;
    background-color: black;
    margin-left: 8px;
    border-radius: 3px;
}

.upperfooter{
    
    height:12vh;
    margin-top: 28px;
    display: flex;
}
.upper1{
    width:6vw;
    height:12vh;
    margin-left:52px;
    border-radius:100%;
    background-color:orangered ;
}
.upper2{
    border:2px solid orangered;
    margin-left:65px;
    width:2.2vw;
    height:11.7vh;
    border-radius: 100px;
    background-color:orangered ;
    transform: rotate(45deg);
}
.upper21{
    border:4px solid black;
    border-radius: 100%;
    margin-top:0px;
    height:3.5vh;
    background-color: rgb(248, 7, 7);
}
.upper22{
    border:4px solid black;
    border-radius: 100%;
    margin-top:20px;
    height:3.5vh;
    background-color: rgb(248, 7, 7);
}

.lowerfooter{
    width:20vh;
    height:5vw;
    margin-top: 25px;
    margin-left:100px;
    display:flex;
    
    

}
 .lowerfooter1{
   border:4px solid black;
   height:5vh;
   width:.5vw;
   margin-top:9px;
   margin-left: 60px;
   position:fixed;
   transform: rotate(45deg);
   border-radius: 10px;
}

 .lowerfooter2{
    border:4px solid black;
    height:5vh;
    width:.5vw;
    margin-top:9px;
    margin-left: 88px;
    transform: rotate(45deg);
    border-radius: 10px;
    
 }  
 